/data
/models/Phase classifiers/checkpoints
/models/Phase classifiers/multi train results
/models/Phase classifiers/hyperband
/models/WGAN-GP/cholesteric
/models/WGAN-GP/nematic
/models/WGAN-GP/smectic