/data
/models/Phase classifiers/checkpoints
/models/Phase classifiers/multi train results
/models/WGAN-GP/cholesteric
/models/WGAN-GP/nematic
/models/WGAN-GP/smectic
**.ris
**.aux
**.bbl
**.blg
**.dvi
**.log
**.synctex.gz